.container {
    background-color: rgb(0, 0, 0);
    border: 3px solid gray;
    text-align: center;
    width: 70%;
    padding: 20px;
    color: aliceblue;
}
body {
    background-image: url(math.png);
    background-repeat: no-repeat;
	background-attachment: fixed;
  	background-size: cover;

}
